#primary-nav {
  background-color: #bfcd7e;
  padding-left: 5%;
}

#primary-brand {
  font-size: 200%;
  color: #ffe75e;
}

#navbarTogglerDemo01 {
  color: #ff6f5e;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#intro-statement {
  font-size: 120%;
  margin-top: 3%;
  padding-left: 5%;
  background-color: #fefefe;
}

#featured-carousel {
  margin: auto;
  text-align: center;
  background-color: #fefefe;
}

.the-statement {
  margin-top: 10%;
}

#landscaping {}

.sellpadding {
  padding-top: 5%;
}

#profiles-section {
  border-radius: 0 3px 3px 0;
  border-left: 5%;
  border-right: 5%;
}



/* Code pulled from other projects */
body {
  font-family: 'Montserrat';
  background-color: #fefefe;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
  margin-left: auto;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat'
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 10%;
}

#features {
  padding: 3% 15%;
  padd background-color: #fefefe;
}

.icon {
  color: #3BBA34;
  margin-bottom: 1rem;
}

/* psudo class */
.icon:hover {
  color: #64D15F;
}

.feature-box {
  text-align: center;
  padding: 5%;
  margin: auto;
}
