#primary-nav{
  background-color: #fefefe;
}

#primary-brand{
  font-size: 200%;
  color: #ff6f5e;
}

#navbarTogglerDemo01{
  color: #ff6f5e;

}

h1{
  color: red;
  font-size: 200%;
}
