#primary-nav {
  background-color: #bfcd7e;
  padding-left: 5%;
}

#primary-brand {
  font-size: 200%;
  color: #ffe75e;
}

#navbarTogglerDemo01 {
  color: #ff6f5e;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#intro-statement {
  font-size: 120%;

  padding-left: 5%;
  background-color: #fefefe;

}

#featured-carousel {
  margin: auto;
  text-align: center;
  background-color: #fefefe;
}

.the-statement {
  margin-top: 10%;
}



#landscaping {}

.sellpadding {
  padding-top: 5%;
}

#profiles-section {

  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

#plantDescription{

}


.buyButton{
  margin-top: 2%;
}

.profilePicture{
  text-align: center;

}

.title-img{
  margin-top: 17%;
}

#familyName{
  text-align: center;
  margin-bottom: 3%;
}

#footer{
  background-color: #311054;
  color: #ee7777;
}
.page-footer{
  background-color: #311054;
  color: #ee7777;
}

.hlColor{
  color: #ee7777;
}



/* Code pulled from other projects */
body {
  font-family: 'Montserrat';
  background-color: #fefefe;
}

.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
  margin-left: auto;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat'
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 10%;
}

#features {
  padding: 3% 15%;
  padd background-color: #fefefe;
}

.icon {
  color: #3BBA34;
  margin-bottom: 1rem;
}

/* psudo class */
.icon:hover {
  color: #64D15F;
}

.feature-box {
  text-align: center;
  padding: 5%;
  margin: auto;
}
